.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.topbarWrapper {

    display: flex;
    height: 100%;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
}

.topbarLogo {}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: darkblue;
}

.topbarIcons {
    display: flex;
    align-items: center;
}

.topbarIconsContainer {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topIconbadge {
    position: absolute;
    top: -8px;
    width: 15px;
    height: 15px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 13px;
    font-size: 10px;
    color: #fff;
}

.adminImage {
    display: flex;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}