.features {
    display: flex;
    width: 100%;
}

.featureItem {
    width: 260px;
    height: 160px;
    display: flex;
    margin: 0px 20px;
    flex-direction: column;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: start;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.featureTitle {
    font-weight: 500;

}

.featurePricesWrapper {
    display: flex;
    margin: 10px 0
}

.frequencyWrapper {
    display: flex;
    align-items: center;
}

.featurePrice {
    margin-right: 20px;
    font-size: 25px;
    font-weight: 700;
}

.featureIcon {
    color: red;
}

.featureDesc {
    font-size: 13px;
    font-weight: 500;
    color: #555;
}