.widgetContainer {
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0,0,0, 1);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.widgetTitle {
    font-size: 22px;
    font-weight: 500;
}

.widgetList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.widgetSmImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.widgetSmUser {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.widgetSmUserName {
    font-weight: 600;
}

.widgetSmTitle {
    font-weight: 300;
}

.widgetSmBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 7px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.widgetSmIcon {
    font-size: 16px !important;

}